<!-- TODO: reorganize navigation bar to reflect final UI -->
<div class = "container">
	{{#if session.isAuthenticated}}
	<nav class = "navbar navbar-inverse">
		<li class = "nav navbar-nav">
			{{#nav-link-to 'client-list'}}
				<h4 class = "navItem">Search Client</h4>
			{{/nav-link-to}}
			{{#nav-link-to 'search-patient'}}
				<h4 class = "navItem">Search Patient</h4>
			{{/nav-link-to}}
			{{#nav-link-to 'login'}}
				<h4 class = "navItem" href="#" {{action 'invalidateSession'}}>Logout</h4>
			{{/nav-link-to}}
		</li>
	</nav>
	{{/if}}
	<div class = "body">
		{{outlet}}
	</div>	
</div>


