
<div class="container">

<div class="inputLoginGroup">

<form {{action 'authenticate' on='submit'}}>  

  <label class = "inputLoginLabel" for="username">Username</label>
  <div class = "inputBox">
  {{input id='username' value=username}}
  </div>

  <br>
  <br>

  <label class = "inputLoginLabel" for="password">Password</label>
  <div class = "inputBox">
  {{input id='password' value=password type="password"}}
  </div>

  <br>
  <br>
  

  <button id="login-button" type="submit" id="login-button">Login</button>

  <div class="createUserPrompt">
  <p> Don't have an account yet? </p>
  {{#link-to "create-user"}}Create User{{/link-to}}
</div>


 </form>
 <br>
 <div id = "alert_placeholder"></div>
 </div>
</div>

