<div class= "container" >
    <br>
    <br>
    <br>
    <div class="row">
            <form {{action "getContact" contact.id on="submit"}}>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
        <input class="form-control" placeholder="Search" autofocus="autofocus"/>
        </div>
        </form>
    </div>
</div>
{{outlet}}
