<div class = "container">
	<div class = "viewGroup">
		<h3>Side Note Information</h3>
		<div class = "viewLabel">Notes:</div>
		<div class = "viewInfo">{{model.note}}</div>
		<br>
		<div class = "viewLabel">Signature:</div>
		<div class = "viewInfo">{{model.sig}}</div>
	</div>
</div>